:root{
    --color-verde-oscuro:#425C5A;
    --color-verde-claro:#A2BFBD;
    --color-naranja:#ffb97c;
    --color-naranja-claro:#ffcb9e;
}

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body{
    background-color: var(--color-verde-oscuro);
}

.container{
    height:100%;
    padding: 0 0 3rem 0;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.container .form-div,.buses-div{
    margin: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.503);
}

.form-div{
    border: 2px var(--color-verde-claro) solid;
    height: auto;
    width: 40vw ;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.buses-div{
    box-sizing: border-box;
    background-color: var(--color-verde-oscuro);
    border: 2px var(--color-verde-claro) solid;
    min-width: 40vw;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
}


.input-div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center ;
    margin-bottom: 1rem;
}

.input-label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    font-size: 1rem;
    font-weight: 600;
    text-indent: 1rem;
    text-transform: uppercase;
    background-color: var(--color-verde-oscuro);
    border-radius: 0px;
    color: white;
    outline: none;
    height: 2.4rem;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #ffb97c 1px solid;
}

label{
    color: var(--color-verde-claro);
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0 1rem;
    font-weight: 600;
}

input[type=submit]{
    line-height: 0;
    height: 3rem;
    border-radius: 10px ;
    border: none;
    background-color: var(--color-naranja);
    text-indent: 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
    background-color:#fd9d4a;
}
input[type=submit]:hover{
    background-color:#e99246;
}   

.bus{
    height: auto;
    padding-bottom: 1rem;
    margin-bottom:1rem;
    border-bottom: 2px solid var(--color-naranja);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem ;
}


.bus p{
    background: rgba(255, 255, 255, 0.226);
    border-radius: 5px;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:white;
    line-height: 1.3rem;
    text-align: center;
    font-weight: 100;
}



.item-name{
    color: rgb(213, 213, 213);
    font-weight: 600;
}

img{
    height: 4rem;
    margin: 2rem;
}

.refresh{
    border: none;
    background-color: var(--color-naranja);
    width: 40vw;
    border-radius: 20px;
    color: var(--color-verde-oscuro);
    cursor: pointer;
}

@media screen and (max-width:800px){
    .form-div{
        width: 90%;
    }
    .buses-div{
        width: 90%;
    }
    .bus{
        grid-template-columns: auto ;
    }
    .input-div{
        flex-direction: column;
    }
}